<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Wellness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Navigation bar with logo and buttons -->
    <nav class="navbar">
        <img src="{{ url_for('static', filename='logo.webp') }}" alt="Predict Wellness Logo" class="logo">
        <ul class="nav-links">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
        </ul>
    </nav>

    <header class="main-header">
        <h1>Welcome to Predict Wellness</h1>
    </header>

    <main class="content-wrapper">
        <section class="disease-selection">
            <h2>Select a Disease to Predict:</h2>
            <ul class="disease-list">
                <li><a href="{{ url_for('predict', disease='heart') }}">Heart Disease</a></li>
                <li><a href="{{ url_for('predict', disease='diabetes') }}">Diabetes</a></li>
                <li><a href="{{ url_for('predict', disease='liver') }}">Liver Disease</a></li>
                <li><a href="{{ url_for('predict', disease='stroke') }}">Stroke</a></li>
            </ul>
        </section>
    </main>

    {% include 'chatbot.html' %}
</body>
</html>
